.PrioritizePage {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100%;
  grid-template-areas:
    "left center right";
  min-height: 100vh;
  background-image: url(https://s3-us-west-2.amazonaws.com/routable/images/_global/background/hero_background.svg),linear-gradient(213.03deg,#2c84ff,#975bff);
}
