.Warryn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  grid-column: middle-column / right;
  grid-row: top / bottom;
}

.Warryn > img {
  height: 30vh;
}

.Warryn-speech-bubble {
  font-size: x-large;
  text-align: center;
  padding: 1em;
  font-family: monospace;
}

@media (max-width: 768px) {
  .Warryn {
    min-height: 50vh;
    grid-column: left / right;
    grid-row: top / middle-row;
    justify-content: center;
  }

  .Warryn > img {
    height: 20vh;
  }
}
